.register{
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
}

.registerTitle{
    font-size: 50px;
    font-weight: 500;
    font-family: 'lora','san-serif';
}
.registerForm{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.registerForm > label{
    margin: 10px 0;
    font-weight: 500;
    font-size: 18px;
}
.registerInput{
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    font-size: 15px;
}
.registerButtons{
    margin-top: 20px;
}
.registerButtons > button{
    border: none;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
}
.registerBtn{
    background-color: coral;
    color: white;
    margin-right: 20px;
}
.loginBtn{
    background-color: tomato;
    color: white;
}



