.sidebar{
    flex: 3;
    height: fit-content;
    margin: 20px;
    background-color: #fbfbfb;
    padding-bottom: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle{
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: 500;
    color: #444;
}

.sidebarItem > img{
    margin-top: 15px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.sidebarItem > p{
    font-weight: 300;
    line-height: 20px;
    padding: 20px 30px;
    text-align: center;
}

.sidebarList{
    list-style-type: none;
    margin-bottom: 30px;
}

.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
}
.sidebarListItem a{
    color: #444;
    text-decoration: none;
    font-size: 18px;
}

.sidebarSocial{
    margin-top: 10px;
    cursor: pointer;
}
.sidebarSocialIcon{
    font-size: 20px;
    margin-right: 10px;
}